body {
    margin-bottom: 2em;
}

a {
    text-decoration: none;
}

h1 .pure-button,
h2 .pure-button {
    font-weight: normal;
    vertical-align: top;
}

.button-small {
    font-size: 0.6em;
}

.button-delete {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #ca3c3c;
}

.button-actions {
    text-align: right;
}

@media (min-width: 60em) {

    .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #app,
    #app > div,
    #app > div > .pure-g-r,
    .column-stack {
        height: 100%;
    }
}

.header {
    height: 4em;
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid #ccc;
}

.column-stack-active {
    background-color: #efefef;
}

.header-title {
    font-weight: normal;
}

.message-no-cards {
    color: #bbb;
    text-align: center;
}

.form,
.stack {
    padding: 1em;
}

.card {
    color: #0074d9;
    background-color: #fff;
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 0.5em;
    padding: 1em 0.8em 1.1em 0.8em;
}

.card:hover {
    border-color: #bbb;
}

.card-estimate {
    float: right;
    color: #bbb;
}
